# Ignore build, devel, and install directories
/build/
/devel/
/install/

# Ignore logs
/.ros/

# Ignore CMakeCache.txt and CMakeFiles/
CMakeCache.txt
CMakeFiles/

# Ignore ROS workspace-specific files
*.log

# Ignore editor and IDE-specific files (e.g., VSCode, Vim, etc.)
.vscode/
.idea/
*.swp

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore package-specific configuration files (e.g., some tools may generate these)
*.bak
