<?xml version="1.0"?>
<robot name="myagv_assembly">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://robot_description/meshes/stl/assembly.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0.299996 0.032674 -0.229947" rpy="1.570796 0 0"/>
      <material name="light_grey">
        <color rgba="0.75 0.75 0.75 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="lidar_link"/>

  <joint name="mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mount_link"/>
    <origin xyz="0.030075 0.126506 -0.073735" rpy="1.578702 0 3.141593"/>
  </joint>
  <link name="mount_link"/>

  <joint name="camera_joint" type="fixed">
    <parent link="mount_link"/>
    <child link="camera_link"/>
    <origin xyz="0.030505 0.070500 0.006000" rpy="0 0 0"/>
  </joint>
  <link name="camera_link"/>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.570796 0 -1.570796"/>
  </joint>
  <link name="camera_optical_frame"/>
</robot>
